{% extends 'base.html' %}
{% block 'titulo' %}Criar Sesnt{% endblock %}

{% block 'Material' %}



<h3>Arquivos do SESMT </h3>
<hr>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    
    {% if form.errors %}
        <div class="error-messages">
            {% for field in form %}
                {% if field.errors %}
                    <p>{{ field.label }}: {{ field.errors }}</p>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    <button class="btn btn-info" type="submit">Enviar</button>
</form>


{% endblock %}