{% extends 'base.html' %}
{% block 'titulo' %}Visualizar colaborador{% endblock %}

{% block 'Material' %}
<h3>Visualizar colaborador</h3>
<hr>

   <form method="get">
    {{ collaboratorFilter.form.as_p }}
    <button class="btn btn-info" type="submit">Filtrar </button>
   </form>
<br>
    {% for colaborador in collaboratorFilter.qs %}
            <div class="form-row">
                <div class="col">
                <label for="">Nome </label>
                <input type="text" value="{{colaborador.Nome}}" disabled>
                <label for=""> CPF </label>
                <input type="text" value="{{colaborador.CPF}}" disabled>
                <label for="">RG</label>
                <input type="text" value="{{colaborador.RG}}"disabled>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label for="">Serviço</label>
                    <input type="text" value="{{colaborador.Servico}}" disabled>
                    <label for="">CNH</label>
                    <input type="text" value="{{colaborador.CNH}}"disabled>
                    <label for="">Vencimento CNH</label>
                    <input type="text" value="{{colaborador.Vencimento_CNH}}"disabled>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                <label for="">Data Contratacao</label>
                <input type="text" value="{{colaborador.Data_contratacao}}" disabled>
                <label for="">Data ferias</label>
                <input type="text" value="{{colaborador.Data_ferias}}"disabled>
                <label for="">Matricula</label>
                <input type="text" value="{{colaborador.matricula}}"disabled>
                </div>
            </div>
            <div class="">
                <div class="col">
                <label for="">ASO </label>
                <p><a href="#">Baixar</a></p>
                <label for=""> Validade ASO</label>
                <input type="text" value="{{colaborador.validade_aso}}"disabled>
                <label for="">PIS</label>
                <input type="text" value="{{colaborador.PIS}}"disabled>
                </div>
            </div>
            
            <div class="form-row">
                <div class="col">
                <label for="">Salario </label>
                <input type="text" value="{{colaborador.Salario}}"disabled>
                <br><label for="">Controle da folha de ponto </label>
                <br><p><a href="#">Baixar</a></p>
                <label for="">Seguro de Vida </label>
                <p><a href="#">Baixar</a></p>
                </div>             
            </div>
            
    {% endfor %}

    </ul>


{% endblock %}