{% extends 'base.html' %}
{% block 'titulo' %}Evidencias de Campo{% endblock %}
{% load static %}
{% block 'Material' %}



<h3>Evidencias de Campo</h3>
<hr>
<h4>Criação das Evidencias</h4>
<br>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    <!-- Exibe apenas o formulário principal -->
    {{ arquivos_foto_form.as_p }}
    
    <!-- Renderiza o formset para o upload das fotos -->
    {{ formset.management_form }}
    <div id="formset">
        {% for form in formset %}
            <div class="form-row">
                {{ form.as_p }}
            </div>
        {% endfor %}
    </div>
    
    <button type="submit">Salvar Fotos</button>
</form>



{% endblock %}