{% extends 'base.html' %}
{% block 'titulo' %}Visualizar Colaboradores{% endblock %}
{% block 'excel' %}<a href="{% url 'demanainternaexportarexcel' %}">Exportar</a>{% endblock %}

{% block 'Material' %}
    <h3>Visualizar Demandas Internas</h3>

    <form method="get">
      {{DemandaFilter.form.as_p}}
      <button class="btn btn-info" type="submit">Filtrar</button>
    </form>
    <hr>
    

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Atividade</th>
            <th scope="col">Tipo</th>
            <th scope="col">Responsavel</th>
            <th scope="col">Status</th>
            <th scope="col">DT Solicitação</th>
            <th scope="col">DT Conclusão</th>
            <th scope="col">Responsavel</th>
            <th scope="col">Arquivo</th>
            <th scope="col">Arquivo 1</th>
            <th scope="col">Arquivo 2</th>
            <th scope="col">Arquivo 3</th>
            <th scope="col">Editar</th>
            <th scope="col">Remover</th>

          </tr>
        </thead>
        <tbody>
            {% for demandas in DemandaFilter.qs %}
              <tr>
                <td><a href="#">{{demandas.Atividade}}</a></td>
                <td>{{demandas.tipo}}</td>
                <td>{{demandas.responsavel}}</td>
                <td><a href="{% url 'demandaatualizarstatus' pk=demandas.id %}">{{demandas.status}}</a></td>
                <td>{{ demandas.data_solicitacao}}</td>
                <td>{{demandas.data_conclusão}}</td>
                <td>{{demandas.responsavel}}</td>
                <td><a href="{{demandas.arquivos.url}}">Baixar PDF</a></td>
                <td><a href="{{demandas.arquivos_complementar.url}}">Baixar PDF</a></td>
                <td><a href="{{demandas.arquivos_complementar1.url}}">Baixar PDF</a></td>
                <td><a href="{{demandas.arquivos_complementar2.url}}">Baixar PDF</a></td>
                <td><a href="{% url 'demandaupdate' pk=demandas.id %}">Editar</a></td>
                <td><a href="{% url 'demandadelete' pk=demandas.id %}">Remover</a></td>

            {% endfor %}
{% endblock %}