{% extends 'base.html' %}
{% block 'titulo' %}Visualizar Colaboradores{% endblock %}
{% block 'excel' %}<a href="{% url 'exportarservicoexecel' %}">Exportar</a>{% endblock %}
{% load static %}
<link rel="stylesheet" href="{% static 'CSS/pagina.css' %}" />
<style>
    .gallery {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    .gallery-item {
        flex: 1 1 200px;
        box-sizing: border-box;
    }
    .gallery img {
        width: 100%;
        height: auto;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
</style>

    <h1>Ver fotos</h1>
<body>
{% block 'Material' %}
<h1>Galeria de Fotos do Campo</h1>
    <div class="gallery">
        {% for foto in fotos %}
            <div class="gallery-item">
                <h3>Poste: {{ foto.poste }}</h3>
                {% if foto.Poste_antes %}
                    <div>
                        <h4>Poste Antes:</h4>
                        <img src="{{ foto.Poste_antes.url }}" alt="Poste Antes">
                    </div>
                {% endif %}
                {% if foto.Poste_depois %}
                    <div>
                        <h4>Poste Depois:</h4>
                        <img src="{{ foto.Poste_depois.url }}" alt="Poste Depois">
                    </div>
                {% endif %}
                <!-- Adicione outros campos de imagem da mesma forma -->
            </div>
        {% empty %}
            <p>Não há fotos disponíveis.</p>
        {% endfor %}
    </div>
{% endblock %}
</body>
