{% extends 'base.html' %}
{% block 'titulo' %}JJ-Fotos campo{% endblock %}
{% block 'excel' %}<a href="{% url 'exportarservicoexecel' %}">Exportar</a>{% endblock %}
{% load static %}
<link rel="stylesheet" href="{% static 'CSS/pagina.css' %}" />
<style>
.gallery {
    display: flex;
    flex-wrap: wrap; /* permite que os itens sejam quebrados em várias linhas, se necessário */
    gap: 16px; /* espaço entre os itens */
}

.gallery-item {
    flex: 1 1 300px; /* permite que os itens cresçam e encolham, mantendo uma largura mínima */
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gallery-photos {
    display: flex;
    justify-content: space-between; /* itens com espaço entre eles */
    gap: 10px; /* espaçamento entre as imagens */
}

.gallery-photos div {
    flex: 1; /* cada div ocupará 50% do espaço disponível */
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}
.image-container {
        display: inline-block;
        position: relative;
    }

.zoom-img {
        width: 200px;
        height: auto;
        transition: transform 0.3s ease;
        cursor: pointer;
    }

.zoom-img:hover {
        transform: scale(1.5); /* Aumenta 1.5x o tamanho */
    }
</style>

    <h1>Ver fotos</h1>
<body>
{% block 'Material' %}
    <div class="gallery">
        {% for foto in fotos %}
        <h3>Evidencias de execução do serviço {{foto.projeto}}</h3>
        <hr>
            <div class="gallery-item">
                <h5>Poste: {{ foto.poste }}</h5>
                <hr>
                <div class="row" style="display: flex; gap: 20px;">
                {% if foto.Poste_antes %}
                    <div class="image-container">
                        <h4>Poste Antes:</h4>
                        <img src="{{ foto.Poste_antes.url }}" alt="Poste Antes" style="width: 200px; height: auto;" class="zoom-img">
                    </div>
                {% endif %}
                {% if foto.Poste_depois %}
                    <div>
                        <h4>Poste Depois:</h4>
                        <img src="{{ foto.Poste_depois.url }}" alt="Poste Depois" style="width: 200px; height: auto;">
                    </div>
                {% endif %}
                </div>
                <div class="row" style="display: flex; gap: 20px;">
                {% if foto.cava_antes %}
                    <div>
                        <h4>Cava antes:</h4>
                        <img src="{{ foto.cava_antes.url }}" alt="cava antes" style="width: 200px; height: auto;">
                    </div>
                {% endif %}
                {% if foto.cava_depois %}
                    <div>
                        <h4>Cava depois:</h4>
                        <img src="{{ foto.cava_depois.url }}" alt="cava depois" style="width: 200px; height: auto;">
                    </div>
                {% endif %}
                </div>
                <div class="row" style="display: flex; gap: 20px;">
                {% if foto.GPS_antes %}
                    <div>
                        <h4>GPS antes:</h4>
                        <img src="{{ foto.GPS_antes.url }}" alt="GPS antes" style="width: 200px; height: auto;">
                    </div>
                {% endif %}
                {% if foto.GPS_depois %}
                    <div>
                        <h4>GPS depois:</h4>
                        <img src="{{ foto.GPS_depois.url }}" alt="GPS depois" style="width: 200px; height: auto;">
                    </div>
                {% endif %}
                </div>
                <div class="row" style="display: flex; gap: 20px;">
                {% if foto.Estrutura_antes %}
                    <div>
                        <h4>Estrutura antes:</h4>
                        <img src="{{ foto.Estrutura_antes.url }}" alt="Estrutura antes" style="width: 200px; height: auto;">
                    </div>
                {% endif %}
                {% if foto.Estrutura_depois %}
                    <div>
                        <h4>Estrutura antes:</h4>
                        <img src="{{ foto.Estrutura_depois.url }}" alt="Estrutura depois" style="width: 200px; height: auto;">
                    </div>
                {% endif %}
                </div>
                <div class="row" style="display: flex; gap: 20px;">
                {% if foto.panoramica %}
                    <div>
                        <h4>panoramica:</h4>
                        <img src="{{ foto.panoramica.url }}" alt="panoramica" style="width: 200px; height: auto;">
                    </div>
                {% endif %}
                </div>
                <div class="row" style="display: flex; gap: 20px;">
                {% if foto.Equipamento_antes %}
                    <div>
                        <h4>Equipamento antes:</h4>
                        <img src="{{ foto.Equipamento_antes.url }}" alt="Equipamento antes" style="width: 200px; height: auto;">
                    </div>
                {% endif %}
                {% if foto.Equipamento_depois %}
                    <div>
                        <h4>Equipamento depois</h4>
                        <img src="{{ foto.Equipamento_depois.url }}" alt="Equipamento depois" style="width: 200px; height: auto;">
                    </div>
                {% endif %}
                </div>
            </div>
        {% empty %}
            <p>Não há fotos disponíveis.</p>
        {% endfor %}
    </div>
{% endblock %}
</body>
