{% extends 'base.html' %}
{% block 'titulo' %}home {% endblock %}

{% block 'Material' %}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

<div class="container">
    <div class="row ">
        <div class="col-xl-6 col-lg-6" style="margin-bottom: 20px;">
            <div class="card l-bg-cherry">
                <div class="card-statistic-3 p-4">
                    <div class="card-icon card-icon-large"><i class="fas fa-chalkboard-teacher"></i></div>
                    <div class="mb-4">
                        <h5 class="card-title mb-0">Visualizar</h5>
                    </div>
                    <div class="row align-items-center mb-2 d-flex">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center mb-0">
                                <a href="{% url 'viewcollaborator' %}">Colaboradores
                                </a>
                            </h2>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6" style="margin-bottom: 20px;">
            <div class="card l-bg-blue-dark">
                <div class="card-statistic-3 p-4">
                    <div class="card-icon card-icon-large"><i class="fas fa-briefcase"></i></div>
                    <div class="mb-4">
                        <h5 class="card-title mb-0">Serviços</h5>
                    </div>
                    <div class="row align-items-center mb-2 d-flex">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center mb-0">
                                <a href="{% url 'visualizartodosservios' %}">Serviços</a>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6" style="margin-bottom: 20px;">
            <div class="card l-bg-green-dark">
                <div class="card-statistic-3 p-4">
                    <div class="card-icon card-icon-large"><i class="fas fa-ticket-alt"></i></div>
                    <div class="mb-4">
                        <h5 class="card-title mb-0">Demanda Interna</h5>
                    </div>
                    <div class="row align-items-center mb-2 d-flex">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center mb-0">
                                <a href="{% url 'Demandainternaviews' %}">Demandas</a>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6" style="margin-bottom: 20px;">
            <div class="card l-bg-orange-dark">
                <div class="card-statistic-3 p-4">
                    <div class="card-icon card-icon-large"><i class="fas fa-archive"></i></div>
                    <div class="mb-4">
                        <h5 class="card-title mb-0">Arquivo</h5>
                    </div>
                    <div class="row align-items-center mb-2 d-flex">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center mb-0">
                                <a href="{% url 'visualizararquivos' %}">Arquivos</a>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}