{% extends 'base.html' %}
{% block 'titulo' %}Evidencias de Campo{% endblock %}

{% block 'Material' %}



<h3>Evidencias de Campo</h3>
<hr>
<h4>Criação das Evidencias</h4>
<br>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ arquivos_foto_form.as_p }}
    <div id="formset">
        {{ formset.management_form }}
        {% for form in formset %}
            <div class="form-row">
                {{ form.as_p }}
            </div>
        {% endfor %}
    </div>
    <button type="button" id="add-photo">Add another photo</button>
    <button type="submit">Save Album</button>
</form>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        const formsetDiv = document.getElementById('formset');
        const addPhotoButton = document.getElementById('add-photo');
        const totalFormsInput = document.querySelector('#id_form-TOTAL_FORMS'); // Ajuste conforme o prefixo do formset
        let totalForms = parseInt(totalFormsInput.value, 10);

        // Ao clicar no botão, clonamos o último formulário e o incrementamos
        addPhotoButton.addEventListener('click', function() {
            const formRow = document.querySelectorAll('.form-row');
            const newForm = formRow[formRow.length - 1].cloneNode(true); // Clona o último formulário

            // Atualize os índices dos campos no novo formulário
            newForm.innerHTML = newForm.innerHTML.replace(/form-(\d+)-/g, `form-${totalForms}-`);
            
            // Limpe o valor dos inputs clonados
            const inputs = newForm.querySelectorAll('input');
            inputs.forEach(input => input.value = '');

            // Insira o novo formulário no DOM
            formsetDiv.appendChild(newForm);

            // Atualize o TOTAL_FORMS
            totalForms += 1;
            totalFormsInput.value = totalForms;
        });
    });
</script>
{% endblock %}