<style>
    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .pagination .page-links {
        display: inline-flex;
        list-style: none;
        padding: 0;
    }
    .pagination .page-links a {
        color: #007bff;
        text-decoration: none;
        margin: 0 5px;
        padding: 8px 12px;
        border: 1px solid #dee2e6;
        border-radius: 4px;
    }
    .pagination .page-links .current {
        margin: 0 5px;
        padding: 8px 12px;
        background-color: #007bff;
        color: white;
        border-radius: 4px;
    }
    .pagination .page-links a:hover {
        background-color: #e9ecef;
    }

    .bolinha {
        display: inline-block;
        width: 20px; /* Tamanho da bolinha */
        height: 20px;
        border-radius: 50%; /* Deixa redondo */
        margin-right: 5px; /* Espaço entre bolinhas e o texto */
        border: 1px solid black;
    }
    
    .verde {
        background-color: green;
    }
    
    .amarela {
        background-color: yellow;
    }
    
    .laranja {
        background-color: orange;
    }
    
    .vermelha {
        background-color: red;
    }
    
    .cinza {
        background-color: gray;
    }
    
</style>